extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance for detail
  else 
    - let birdsid = toShow._id
    - let birds_Name = toShow.birds_Name
    - let birds_LifeSpan = toShow.birds_LifeSpan
    - let birds_Speed = toShow.birds_Speed

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{birdsid}
      - let actionid = "/resource/birds/" + birdsid
      form(id='birdsForm', action= actionid, method="PUT")
        div.form-group
          label.birdsAttr(for='birds_Name') birds Name
          input#birds_Name(type='text', name='birds_Name', value= birds_Name )
        div.form-group
          label.birdsAttr(for='birds_LifeSpan') LifeSpan of birds is
          input#birds_LifeSpan(type='text', name='birds_LifeSpan', value= birds_LifeSpan )
        div.form-group
          label.birdsAttr(for='birds_Speed') birds speed is
          input#birds_Speed(type='number', name='birds_Speed', value= birds_Speed )
        input(type="submit")
        script.
          document.forms['birdsForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
              method: 'PUT',
              body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
              return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
              alert("Update succeded")
              // TODO handle body
            }).catch((error) => {
              // TODO handle error
              alert("Update failed " + error )
            });
          });